:root {
    --primary-color: red;
    --secondary-color: #070614;
    --tertiary-color: #f4f4fa;
  }
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  Body {
      color: var(--tertiary-color);
      font-family: Helvetica, Arial, sans-serif;
      background-color: var(--secondary-color);
  }

  /* HEADER / NAV BAR STYLES START */

  header {
      padding: 20px 35px 20px 0px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      position: sticky;
      position: -webkit-sticky;
      top: 0px;
      background-color: var(--primary-color);
      align-items: center;
      z-index: 9999;
  }
  
  header .left {
      text-decoration: none;
      color: var(--tertiary-color);
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.5)
  }

  .left {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: var(--secondary-color);
      width: 40%;
      padding: 0px 35px;

  }

  .left h1 {
      flex: 1 50%;
      padding-left: 20px;
  }

  .left h1 a{
      font-weight: bold;
      margin: 0;
      font-size: 4vw;
      
  }

  .left img {
      width: 10%;
      border-radius: 50%;
      flex: .1 5%;
      min-width: 80px;  
  }

  header nav {
      margin: 7px 0;
  }

  header nav ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      list-style: none;
      background-color: transparent;
  }

  header nav ul li a {
      padding: 10px 15px;
      font-size: 1.75vw;
      text-decoration: none;
      font-weight: lighter;
      color: var(--tertiary-color);
      background-color: transparent;
  }

  header nav ul li a:hover {
      background-color: var(--secondary-color);
      color: var(--primary-color);
      border-radius: 15px;
      text-shadow: none;
  }

  /*Header styles end*/

  /* FOOTER STYLES START */
  footer {
    background: var(--primary-color);
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
  }
  
  footer h2 {
    color: var(--tertiary-color);
    font-size: 30px;
    margin: 0;
  }
  
  footer div {
    line-height: 1.5;
    text-align: right;
  }
  
  /* END FOOTER STYLES */

  /*Hero Styles Start*/
  .hero {
    background-image: url('../Images/153rd\ c130.jpg');
    background-color: rgba(0, 0, 0, 0.5);
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: flex-end;
    background-attachment: fixed;
    background-position: cover;
    background-repeat: no-repeat;
    height: 20vw;
  }

  .hero h2 {
      margin: 3vw ;
  }

  .about-me {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      margin: 30px auto;
      color: var(--tertiary-color);
      width: 80%;
      background:var(--secondary-color);
  }

  .about-me h2 {
      font-size: 3vw;
      border-right: 2px solid var(--primary-color);
      padding-right: 20px;
      width: 12vw;
      text-align: right;
  }

  .about-me .right {
      width: 70%;
  }
  .about-me .right p {
      font-size: 1.55vw;
  }

  .work {
    display: flex;
    flex: wrap;
    justify-content: space-around;
    margin: 30px auto;
    color: var(--tertiary-color);
    width: 80%;
    background:var(--secondary-color);
}

.work h2 {
    font-size: 3vw;
    border-right: 2px solid var(--primary-color);
    padding-right: 20px;
    width: 12vw;
    text-align: right;
}



.work .right {
    width: 70%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.work .right .break {
    flex-basis: 100%;
    height: 0;
}

.work .right h3 {
    font-size: 1.25vw;
    text-decoration: none;
    color: var(--tertiary-color);
    padding-bottom: 5px;
}

.work .right p {
    color: var(--tertiary-color);
    font-size: 0.9vw;
}

.work .right div {
    border: thick solid var(--primary-color);
}

.work .right .main {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 300px;
    background-image: url('../Images/surfreport.jpg');
    background-size: cover;
    background-position: 80%;
    align-items: flex-end;
}

.work .right .secondary {
    display: flex;
    margin-top: 10px;
    width: 49%;
    height: 125px;
    flex-direction: row;
    background-size: cover;
    background-position: 80%;
    align-items: flex-end;
}

.work .right .calc{
    background-image: url('../Images/surfreport.jpg');
}

.work .right div div {
    border: thick solid var(--primary-color);
    background-color: rgba(255, 0, 0, 0.5);
    height: 70px;
    width: auto;
    margin-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
}


/* Conact Me Section */

.contact-me {
    display: flex;
    flex: wrap;
    justify-content: space-around;
    margin: 30px auto;
    color: var(--tertiary-color);
    width: 80%;
    background:var(--secondary-color);
}

.contact-me h2 {
    font-size: 3vw;
    border-right: 2px solid var(--primary-color);
    padding-right: 20px;
    width: 12vw;
    text-align: right;
}

.contact-me .right {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contact-me .right a {
    font-size: 1.55vw;
    text-decoration: underline;
    color: var(--tertiary-color);
}